@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

::-moz-selection { /* Code for Firefox */
  color: blueviolet;
  background: white;
}

::selection {
  color: blueviolet;
  background: white;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: blueviolet;
}

.typed-out{
  overflow: hidden;
  /* border-right: .15em solid white; */
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 5s forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}