@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Poppins, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

nav,
h2 {
  font-family: "Poppins", serif;
}

p {
  font-family: "Source Code Pro", monospace;
}

::-webkit-scrollbar {
  width: 0.3rem;
  height: 2rem;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #01071f;
}

::-webkit-scrollbar-thumb {
  background: #083672;
  border-radius: 100vh;
  border: 3px solid #3351d8;
}

::-webkit-scrollbar-thumb:hover {
  background: #083672;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background-color: #0240b3f8;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
}

.back-to-top-icon {
  width: 1.5rem;
  height: 1.5rem;
  /* color: black; */
}

.back-to-top:hover {
  opacity: 75%;
}

::-moz-selection {
  /* Code for Firefox */
  color: blueviolet;
  background: white;
}

::selection {
  color: blueviolet;
  background: white;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.typed-out {
  overflow: hidden;
  /* border-right: .15em solid white; */
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 5s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.skills {
  overflow: hidden;
}

/* .contain{
  overflow: hidden;
} */

.box {
  /* float: left; */
  /* background-color: #2196f3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px; */
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-image: linear-gradient(to right, #06b6d4, #3b82f6);
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-image: linear-gradient(to right, #0e7490, #1d4ed8);
}

/* Add a dark background to the active button */
.btn.active {
  background-image: linear-gradient(180deg, rgb(0, 31, 125), rgb(3, 21, 76));
  color: white;
}

.play-sound {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background-color: #8fa0ea;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s;
}

.bg-mobile {
  background-color: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .bg-mobile {
    background-color: #000025;
    padding: 2rem;
    border-radius: 0.75rem;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/

  .bg-mobile {
    background-color: #000025;
    padding: 3rem;
    border-radius: 0.75rem;
  }

  .skills img {
    width: min-content;
    height: min-content;
  }
  #experience {
    font-size: small;
  }
  nav {
    text-align: center;
  }
  .btn {
    padding: 7px 5px;
    font-size: small;
  }
}
